<!-- nav bar -->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <form action="search" class="search-form" method="get">
            <div class="row align-items-center">
                <div class="col-auto">
                    <span class="navbar-brand">
                        <a href="/" style="color:inherit; text-decoration: none;">
                            Wiseipes
                        </a>
                    </span>
                </div>
                <div class="col">
                    <input class="query-text form-control form-control-sm" name="q" placeholder="Keywords" type="text"
                           value="{{ query }}">
                </div>
                <div class="col-auto">
                    {% include 'filter_modal.html' %}
                    <button class="btn btn-primary" type="submit">
                        <span class="bi-search search-icon"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</nav>

