<!-- nav bar -->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <form class="search-form" method="get" action="search">
            <div class="row">
                <div class="col-auto">
                    <span class="navbar-brand">
                        <a href="/" style="color:inherit; text-decoration: none;">
                            Wiseipes
                        </a>
                    </span>
                </div>
                <div class="col">
                    <input class="query-text form-control form-control-sm" type="text" placeholder="Keywords" name="q"
                           value="{{ query }}">
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary btn-sm" type="submit">Submit</button>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary btn-sm" type="submit" name="easy_prepare" value="true">
                        Easy prepare
                    </button>
                </div>
            </div>
        </form>
    </div>
</nav>
