{% extends "base.html" %}

{% block content %}
{% include 'navbar.html' %}
<!-- main search -->
<header class="masthead d-flex align-items-center" style="height: calc(100vh - 3.5rem); padding-bottom:15rem">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <h1 class="mb-5">Wiseipes for your good foods!</h1>
                    <form action="search" class="form-search" method="get" onsubmit="onSearch()">
                        <div class="row">
                            <div class="col">
                                <input class="form-control form-control-lg" name="q" placeholder="Keywords"
                                       type="text">
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-primary btn-lg" type="submit">Search</button>
                            </div>
                        </div>
                        <div style="height:1rem;"></div>
                        <div class="row" style="justify-content:flex-start;">
                            <div class="col">
                                <label>
                                    <input name="vegetarian" type="checkbox" value="true"/>
                                    Vegetarian
                                </label>
                                <div style="width:1rem; display:inline-block;"></div>
                                <label>
                                    <input name="easy_prepare" type="checkbox" value="true"/>
                                    Easy prepare
                                </label>
                                <div style="width:1rem; display:inline-block;"></div>
                                <label>
                                    <input name="easy_cook" type="checkbox" value="true"/>
                                    Easy cook
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
