<!-- Primary Meta Tags -->
<title>Wiseipes -  for your good foods!</title>
<meta name="title" content="Wiseipes -  for your good foods!">
<meta name="description" content="With Wiseipes you can search recipes for your lunch, dinner, diet meal, all you want is in Wiseipes.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://wiseipes.com/">
<meta property="og:title" content="Wiseipes -  for your good foods!">
<meta property="og:description" content="With Wiseipes you can search recipes for your lunch, dinner, diet meal, all you want is in Wiseipes.">
<meta property="og:image" content="https://wiseipes.com/static/silver_plate/image/wiseipes-seo.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://wiseipes.com/">
<meta property="twitter:title" content="Wiseipes -  for your good foods!">
<meta property="twitter:description" content="With Wiseipes you can search recipes for your lunch, dinner, diet meal, all you want is in Wiseipes.">
<meta property="twitter:image" content="https://wiseipes.com/static/silver_plate/image/wiseipes-seo.jpg">